<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   <!-- 注入bean对象，可以扫描注解，简化配置 -->
    <context:component-scan base-package="service"/>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
<!--        添加单个<property name="location" value="resource.properties"/>-->
        <property name="locations">
            <list>
                <value>classpath:mq_properties.properties</value>
            </list>
        </property>
<!--        相当于将bean为propertyConfiguer中的方法setLocation传入参数resource.properties-->
    </bean>
    <bean id="connectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL">
                    <value>${ACTIVEMQ_URL}</value>
                </property>
                <property name="userName">
                    <value>${ACTIVEMQ_USER}</value>
                </property>
                <property name="password">
                    <value>${ACTIVEMQ_PASSWORD}</value>
                </property>
                <property name="redeliveryPolicy" ref="activeMQRedeliveryPolicy"/>
            </bean>
        </property>
        <property name="maxConnections" value="100"></property>
    </bean>

    <bean id="activeMQRedeliveryPolicy" class="org.apache.activemq.RedeliveryPolicy">
        <property name="useExponentialBackOff" value="false"/>
        <!--<property name="maximumRedeliveries" value="4"/>-->
        <property name="initialRedeliveryDelay" value="5000"/>
        <property name="backOffMultiplier" value="2"/>
        <property name="maximumRedeliveryDelay" value="5000"/>
        <property name="queue" value="*"/>
    </bean>

    <bean id="flightDynamicQueueDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg>
            <value>${QUEUENAME_FLT_CA_FLTINFO_DYNAMIC}</value>
        </constructor-arg>
    </bean>
    <bean id="flightDynamicConsumerMessageListener"
          class="service.MqListener"/>
    <bean id="flightDynamicJmsContainer" class=" org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="flightDynamicQueueDestination"/>
        <property name="messageListener" ref="flightDynamicConsumerMessageListener"/>
        <property name="sessionAcknowledgeMode" value="4"/>
    </bean>

</beans>